body{
    font-family: sans-serif
}

.menu-item {
    width: 250px;
    height: 50px;
    border: 1px solid gray;
    list-style-type: none;
    padding: 5px;
}

.container {
  display: flex;
}

.hover {
    background: lightgray
}

.selected{
    background: gold
}


  #map {
    height: 700px;
    width: 600px;
    margin-bottom: 10px;
  }